
#container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
button{
    width: 5rem;
    background-color: rgb(210, 191, 191);
}